
.history/tasks-completed-app/package_20190213062603.json
.history/tasks-completed-app/package_20190213063438.json
.history/tasks-completed-app/package_20190213075908.json
.history/tasks-completed-app/package_20190213080020.json
.history/tasks-completed-app/package_20190213080036.json
.history/tasks-completed-app/package_20190213080941.json
.history/tasks-completed-app/package_20190213084833.json
.history/tasks-completed-app/src/app/app.component.spec_20190213062229.ts
.history/tasks-completed-app/src/app/app.component.spec_20190213094817.ts
.history/tasks-completed-app/src/app/app.component.spec_20190213094835.ts
.history/tasks-completed-app/src/app/app.component.spec_20190213094852.ts
.history/tasks-completed-app/src/app/app.component.spec_20190213095053.ts
.history/tasks-completed-app/src/app/app.component.spec_20190213095116.ts
.history/tasks-completed-app/src/app/app.component.spec_20190213095129.ts
.history/tasks-completed-app/src/app/app.component.spec_20190213095215.ts
.history/tasks-completed-app/src/app/app.component_20190213062229.html
.history/tasks-completed-app/src/app/app.component_20190213062229.ts
.history/tasks-completed-app/src/app/app.component_20190213065327.html
.history/tasks-completed-app/src/app/app.component_20190213094922.html
.history/tasks-completed-app/src/app/app.component_20190213094945.ts
.history/tasks-completed-app/src/app/app.component_20190213094946.ts
.history/tasks-completed-app/src/app/app.component_20190213095003.ts
.history/tasks-completed-app/src/app/app.component_20190213095011.ts
.history/tasks-completed-app/src/app/app.component_20190213095036.html
.history/tasks-completed-app/src/app/app.component_20190213095159.ts
.history/tasks-completed-app/src/app/app.component_20190213100800.html
.history/tasks-completed-app/src/app/app.module_20190213062229.ts
.history/tasks-completed-app/src/app/app.module_20190213065032.ts
.history/tasks-completed-app/src/app/app.module_20190213065247.ts
.history/tasks-completed-app/src/app/app.module_20190213065253.ts
.history/tasks-completed-app/src/app/app.module_20190213065753.ts
.history/tasks-completed-app/src/app/app.module_20190213075625.ts
.history/tasks-completed-app/src/app/app.module_20190213075633.ts
.history/tasks-completed-app/src/app/app.module_20190213101422.ts
.history/tasks-completed-app/src/app/barchart/barchart.component.spec_20190213065231.ts
.history/tasks-completed-app/src/app/barchart/barchart.component.spec_20190213094556.ts
.history/tasks-completed-app/src/app/barchart/barchart.component.spec_20190213094642.ts
.history/tasks-completed-app/src/app/barchart/barchart.component.spec_20190213094738.ts
.history/tasks-completed-app/src/app/barchart/barchart.component.spec_20190213100605.ts
.history/tasks-completed-app/src/app/barchart/barchart.component.spec_20190213100718.ts
.history/tasks-completed-app/src/app/barchart/barchart.component.spec_20190213101025.ts
.history/tasks-completed-app/src/app/barchart/barchart.component.spec_20190213101135.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213065231.html
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213065231.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213070139.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213070507.html
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213070644.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213070646.html
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213070724.html
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213070733.html
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213072833.html
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213072843.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213073026.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213073029.html
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213073103.html
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213073153.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213073215.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213080239.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213090900.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213091028.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213091044.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213091112.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213091136.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213091155.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213091203.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213091314.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213091327.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213091400.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213091436.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213091503.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213091533.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213093617.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213093646.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213093841.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213094020.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213094047.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213094057.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213094117.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213094228.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213094351.html
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213100155.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213100317.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213100329.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213100355.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213100822.ts
.history/tasks-completed-app/src/app/barchart/barchart.component_20190213100825.ts
.history/tasks-completed-app/src/app/services/chartdata.service.spec_20190213073329.ts
.history/tasks-completed-app/src/app/services/chartdata.service.spec_20190213095446.ts
.history/tasks-completed-app/src/app/services/chartdata.service.spec_20190213095554.ts
.history/tasks-completed-app/src/app/services/chartdata.service.spec_20190213095705.ts
.history/tasks-completed-app/src/app/services/chartdata.service.spec_20190213095830.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213073329.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213074125.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213080133.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213080539.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213080619.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213080723.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213081430.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213081557.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213081838.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213081908.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213082010.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213082828.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213084229.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213085128.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213085857.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213090111.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213090658.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213090730.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213090747.ts
.history/tasks-completed-app/src/app/services/chartdata.service_20190213093332.ts
.history/tasks-completed-app/src/index_20190213062229.html
.history/tasks-completed-app/src/index_20190213065845.html
.history/tasks-completed-app/src/index_20190213070531.html
.history/tasks-completed-app/src/index_20190213070844.html
.history/tasks-completed-app/src/index_20190213070903.html
.history/tasks-completed-app/src/index_20190213070922.html
.history/tasks-completed-app/src/index_20190213070952.html
.history/tasks-completed-app/src/index_20190213071003.html
.history/tasks-completed-app/src/index_20190213071047.html
.history/tasks-completed-app/src/index_20190213071950.html
.history/tasks-completed-app/src/polyfills_20190213062229.ts
.history/tasks-completed-app/src/polyfills_20190213101514.ts
.history/tasks-completed-app/src/proxy-local-dev_20190213075742.js
.history/tasks-completed-app/src/proxy-local-dev_20190213075813.js
.history/tasks-completed-app/tslint_20190213062229.json
.history/tasks-completed-app/tslint_20190213063214.json
.history/tasks-completed-app/tslint_20190213063323.json
.history/tasks-completed-app/tslint_20190213063327.json
.history/tasks-completed-app/tslint_20190213063343.json
tasks-completed-app/server/tasks-server.zip
